/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f5f5f5;
}

.authPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 32px;
    border-radius: 32px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background: white;
    max-width: 500px;
    width: 90%;
    margin: 20px auto;
}

.authContainer h1 {
    font-weight: 400;
}

.authContainer form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formGroup label {
    font-size: 14px;
}

.formGroup input,
.formGroup select {
    padding: 12px 16px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    outline: none;
}

.formGroup input:focus,
.formGroup select:focus {
    border-color: #00aa00;
}

.formGroup.checkbox {
    flex-direction: row;
    align-items: center;
}

.formGroup.checkbox input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
    cursor: pointer;
}

.formGroup.checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.authContainer button {
    background-color: #00aa00;
    padding: 16px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s;
    width: 100%;
    font-size: 16px;
}

.authContainer button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.authContainer button:hover:not(:disabled) {
    background-color: #008800;
}

.authContainer p {
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.error {
    color: #00aa00;
    text-align: center;
    font-size: 14px;
}